.PageLoader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #231f20ad;
  z-index: 1350;
  top: 0px;

  #spinningloader {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin .8s ease-in-out infinite;
  }
  @keyframes spin { to { -webkit-transform: rotate(360deg); } }
}
