.AdminDashboard {
  width: 100%;
  background-color: #282c34;
  min-height: 100vh;
  padding: 2em;
  color: white;
}

a {
  text-decoration: none;
}

.AdminInfoContainer {
  display: flex;
  flex-direction: column;
  flex: 1;

  .UserInfo {
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #00000029;

    .User-Info-Form {
      display: flex;
      flex-direction: column;
      background: #fff;
      padding: 10px;
      border-radius: 3px;
      box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);

      .infoRow {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .User-Field {
          width: 30%;
        }
      }
    }
  }

  .AdminCredits {
    background: #f7f7f7;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #00000029;
    padding: 10px;
    margin-bottom: 2em;
  }

}

.AdminCreditContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  background: #f7f7f7;
  box-shadow: 1px 1px 3px 1px #00000029;

  .Creditor {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 1em;
  }
}

.AdminCloseBtn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  margin-left: 1em;
}


.submit-button {
  button {
    @include levarButton;
  }
}
