.AccountInfo {
  display: flex;

  .AdminInfoContainer {
    display: flex;
    flex-direction: column;
    flex: 1;

    .UserInfo {
      padding-bottom: 1em;

      .User-Info-Form {
        display: flex;
        flex-direction: column;

        .infoRow {
          display: flex;
          justify-content: space-between;
          padding: 10px 0px;

          .User-Field {
            width: 30%;
          }
        }

      }
    }

  }

  .AdminCreditContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;

    .Creditor {
      display: flex;
      align-items: center;
      
    }
  }

}

